.sidebar {
    width: var(--sidebar-width);
    background: #1e1e2d;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 4px 0 10px rgba(0,0,0,0.1);
    height: 100%;
}

.sidebar h2 {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #818cf8;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-link {
    padding: 12px 15px;
    margin-top: 8px;
    text-decoration: none;
    color: #a6a6cc;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 0.95rem;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
}

.nav-link:hover, .nav-link.active-menu {
    background: #2b2b40;
    color: #fff;
    transform: translateX(5px);
}

.logout-btn {
    margin-bottom: auto;
    background: var(--danger-color);
    color: white;
    text-align: center;
    justify-content: center;
}

.logout-btn:hover {
    background: #dc2626;
    color: white;
}