:root {
    --primary-color: #4f46e5;
    --sidebar-width: 260px;
    --bg-color: #f3f4f6;
    --text-color: #1f2937;
    --danger-color: #ef4444
}

/*-- RESET & BASE --*/
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Inter', 'Segoe UI', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
    overflow: hidden;
}

/*-- ESTRUTURA PRINCIPAL DO APP -- (Sidebar + Main) --*/
#app-screen {
    display: none;
    height: 100vh;
    width: 100%;
}
/*-- CONTEÚDO PRINCIPAL -- */

.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 30px;
    position: relative;
}

@media (max-width: 70px) {
    .main-content {
        padding: 15px;
    }
}


.page {
    display: none;
    animation: fadeIn 0.3s ease;
}

.page.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
